<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="In.WorkIndia Test Suite">
    <listeners>
        <listener class-name= "com.nagp.utils.Listener"/>
    </listeners>
    <test name="nagp.appium.project">
        <classes>
            <class name="com.nagp.runner.TestNGRunner" />
        </classes>
    </test>
</suite>